* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #F3F6EF;
    font-family: 'Tahoma', sans-serif;
    color: #2F2A37;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 23px 0;
    background: #F3F6EF;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
    max-width: 62px;
}

.menu {
    margin-left: auto;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 88px;
}

.menu-item a {
    font-size: 18px;
    color: #2F2A37;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover {
    border-bottom: 2px solid #2F2A37;
}

.currency {
    margin-left: auto;
}

.main-content {
    padding-top: 127px;
    padding-bottom: 97px;
}

.main-content .container {
    position: relative;
}

.main-info {
    max-width: 400px;
}

.main-title {
    font-family: Avenir;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 115%;
}

.main-text {
    color: var(--ed-space, #6E6C72);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 31px;
    margin-bottom: 55px;
}

.main-image {
    position: absolute;
    top: 0px;
    left: calc(100% - 720px);
}

.main-ellipse {
    position: absolute;
    top: -50%;
    left: 65%;
    max-width: 821px;
    z-index: -1;
}

.button {
    border-radius: 40px;
    background: var(--gradient, linear-gradient(129deg, #6BFFCA 0%, #00FF47 100%));
    width: 245px;
    height: 55px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #191411;
    font-weight: 600;
    color: var(--ed-space, #2F2A37);
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}
